AVAILABLE_COMMUNICATION_CHANNELS='["email", "sms"]'
INFO_COMMUNICATION_CHANNELS='["email"]'
DELIVERY_MAX_RETRIES=3
DELIVERY_RETRY_DELAY=2000
DELIVERY_RETRY_DELAY_MULTIPLIER=2

ALERT_RATE_LIMIT=300    # Maximum number of alert notification that can be send to the same recipient within one hour

MAILER_SECONDARY_DSN=smtp://user:pass@smtp.example.com:25l # Supported: SMTP, Amazon SES 
MAILER_PRIMARY_DSN=ses+smtp://USERNAME:PASSWORD@default?region=REGION # Supported: SMTP, Amazon SES 

SMS_PRIMARY_DSN=twilio://SID:TOKEN@default?from=FROM      # Supported: Twilio, Infobip
SMS_SECONDARY_DSN=infobip://AUTH_TOKEN@HOST?from=FROM     # Supported: Twilio, Infobip

MAILER_SENDER=sender@example.com # email sender

